<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Agence_de_voyage__Application_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Agence_de_voyage__Application_.Properties.Settings>
            <setting name="Agence_de_voyage__Application__Consultation_Consultation_Hotel"
                serializeAs="String">
                <value>https://localhost:44348/Consultation_Hotel.asmx</value>
            </setting>
            <setting name="Agence_de_voyage__Application__Reservation_Reservation_Hotel"
                serializeAs="String">
                <value>https://localhost:44348/Reservation_Hotel.asmx</value>
            </setting>
        </Agence_de_voyage__Application_.Properties.Settings>
    </applicationSettings>
</configuration>